<%- include("header/header.ejs") %>
    <!-- <div class="col s9 main">
        <div class="card light-blue lighten-5 block_center">

            <div class="card-content  blue-grey-text">

                <form method="POST" action="/login">
                    <label for="email">Enter your email:</label>
            
                    <input type="email" name="email" size="30" required>
                    <input type="password" name="pass">
                    <input type="submit">  
                </form>
            </div>
            <div class="card-action blue-grey-text justify-block">
                <button id="calculate" class="btn light-blue lighten-2">Войти</button>
            </div>

        </div>
    </div> -->
    <!-- <script>
        window.history.pushState('page2', 'Title', '/login');
    </script> -->
    <div class="row valign-wrapper modal-block contaner_castom">
        
        <div class="col s12 main">
            <div class="card light-blue lighten-5 block_center random">

                <div class="card-content  blue-grey-text">
                    <span class="card-title">Вход/Регистрация</span>
                        <label for="email">Enter your email:</label>
                
                        <input class="validate" type="email" name="email" size="30" required>
                        <input class="validate" type="password" name="pass">
                        <input class="btn light-blue lighten-2" type="submit" id="auth">  
                </div>

            </div>
        </div>
    </div>
</body>
<html>